openapi: 3.2.0
info:
  title: Propeller Public Widgets API
  description: The Propeller Public API provides programmatic, read-oriented access to Propeller Aero drone-survey and earthworks-analytics data for construction, mining, aggregates, and waste sites.
  version: '1.0'
  contact:
    name: Propeller Aero
    url: https://www.propelleraero.com/
  x-endpointsModeled: true
  x-endpointsModeledNote: Paths and methods are confirmed from Propeller's public API reference / llms.txt. Response schemas are illustrative models of the documented resources, not verified field-by-field against live payloads.
servers:
- url: https://api.propelleraero.com/v1
  description: Propeller Public API
security:
- bearerAuth: []
- oidc: []
tags:
- name: Widgets
  description: Calculated measurements (volumes, distances, areas) tied to a shape.
paths:
  /organizations/{organization_id}/sites/{site_id}/workspaces/{workspace_id}/shapes/{shape_id}/widgets/{widget_id}/calculate:
    post:
      operationId: calculateWidget
      tags:
      - Widgets
      summary: Calculate a widget
      description: Calculates a widget against a shape and returns measured results such as volumes (cut/fill), distances, or areas, optionally scoped to a chosen survey.
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/SiteId'
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ShapeId'
      - name: widget_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                survey_id:
                  type: string
                  description: Survey to calculate the widget against.
                base_survey_id:
                  type: string
                  description: Optional base survey for cut/fill volume comparisons.
      responses:
        '200':
          description: The calculated widget result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResult'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    ShapeId:
      name: shape_id
      in: path
      required: true
      schema:
        type: string
    SiteId:
      name: site_id
      in: path
      required: true
      schema:
        type: string
    OrganizationId:
      name: organization_id
      in: path
      required: true
      schema:
        type: string
    WorkspaceId:
      name: workspace_id
      in: path
      required: true
      schema:
        type: string
  schemas:
    WidgetResult:
      type: object
      properties:
        widgetId:
          type: string
        type:
          type: string
          example: volume
        value:
          type: number
          format: double
        unit:
          type: string
          example: cubic_meters
        surveyId:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token generated under Settings > Public API in the Propeller portal, sent as Authorization: Bearer <access_token>.'
    oidc:
      type: openIdConnect
      openIdConnectUrl: https://api.propelleraero.com/auth/oidc/.well-known/openid-configuration
